<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Message</title>
    <link rel="stylesheet" href="/static/element-ui/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/css/page/message_confirm.css">
    <link rel="stylesheet" href="/static/css/common/navbar.css">
    <link rel="stylesheet" href="/static/css/base/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/base/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/static/iCheck/skins/flat/green.css"/>
    <link rel="stylesheet" href="/static/css/base/universal.css">
</head>
<body>
<div id="app">
    <head-side-bar :user-infoin-parent="userInfo"></head-side-bar>
    <template id="notice" th:fragment="notice">
        <div>
        <div class="innerShadowCol">

            <div class="page-content clearfix scrollbar el-col-lg-21 el-col-md-20 pageContent"
                 style="margin-left: 240px;overflow-x: hidden"
                 :style="{'height':ScreenMinHeight,'min-height':ScreenMinHeight,'max-height':ScreenMaxHeight}"
                 id="pageContent">
                <div class="flexColContainer mainContent" style="padding:20px 10px;max-width: 1120px">
                    <section role="description" class="flexJustBetween flexColCenter contentSection"
                             style="max-width: 1050px">
                        <div class="flexRowContainer flexColCenter">
                            <i class="el-icon-chat-dot-square" style="margin-top: 7px;font-size: 40px;color: rgb(212, 134, 52);" ></i>
                            <h3 style="margin-left: 10px" >Message</h3>
                        </div>
                    </section>

                    <el-card class="message">
                        <el-tabs v-model="activeName" @tab-click="handleClick">
                            <el-tab-pane label="OverView" name="first">
                                <el-card>
                                    <div class="block">
                                        <div class="radio">
                                            Sort：
                                            <el-radio-group v-model="reverse">
                                                <el-radio :label="true">Reverse order</el-radio>
                                                <el-radio :label="false">Positive order</el-radio>
                                            </el-radio-group>
                                        </div>
                                        <div class="no-mess icon-th-list overview" style="    color: #ccc;    display: block;    font-size: 16px;    margin: 20px;    text-align: center;display: none">
                                            <span style="margin-left: 5px;    font-family: 'Microsoft YaHei';">This page is temporarily empty</span>
                                        </div>
                                        <el-timeline :reverse="reverse">
                                            <el-timeline-item
                                                    v-for = "(item,index) in invites"
                                                    :key="index"
                                                    :timestamp="item.createDate"
                                                    :color="getColor(item)"
                                                    placement="top"
                                            >

                                                    <el-card>
                                                        <h4><a :href="'http://localhost:8080/user/'+item.inviteSender.oid" target="_blank">{{item.inviteSender.userName}}</a> has sent a invite to you</h4>
                                                        <p style="margin-top: 3px">at {{item.createDate}}</p>
                                                    </el-card>
                                            </el-timeline-item>
                                    </el-timeline>
                                    </div>
                                </el-card>
                            </el-tab-pane>
                            <el-tab-pane label="Version" name="Second">
                                <div slot="label">
                                    Invite
                                    <span class="el-badge__content el-badge__content--undefined">
                                                    {{invites.length}}
                                    </span>
                                </div>
                                <el-card>
                                    <el-tabs type="border-card">
                                        <!--                                            <el-tabs type="border-card">-->
                                        <el-tab-pane label="Unapproved version">
                                            <div slot="label">
                                                Unapproved version
                                                <span class="el-badge__content el-badge__content--undefined">
                                                    {{invitesUnapprv.length}}
                                                </span>
                                            </div>
                                            <el-table
                                                    :data="invitesUnapprv"
                                                    style="width: 100%">
                                                <el-table-column
                                                        fixed
                                                        prop="createDate"
                                                        label="Date"
                                                        width="200">
                                                </el-table-column>
                                                <el-table-column
                                                        prop="title"
                                                        label="project"
                                                        width="210"
                                                >
                                                    <template slot-scope="scope">
                                                        <a @click="window.open('/project/'+scope.row.project)">{{scope.row.title}}</a>
                                                    </template>
                                                </el-table-column>
                                                <el-table-column
                                                        prop="inviteSender.name"
                                                        label="Inviter"
                                                        width="150">
                                                    <template slot-scope="scope">
                                                        <a @click="window.open('http://localhost:8080/user/'+scope.row.inviteSender.oid)">{{scope.row.inviteSender.name}}</a>
                                                    </template>
                                                </el-table-column>
                                                <el-table-column
                                                        prop="modelName"
                                                        label="model"
                                                >
                                                    <template slot-scope="scope">
                                                        <a @click="window.open('http://localhost:8080/computableModel/'+scope.row.model)">{{scope.row.modelName}}</a>
                                                    </template>
                                                </el-table-column>

                                                <el-table-column
                                                        label="View"
                                                        width="130">
                                                    <template slot-scope="scope">
                                                        <el-button
                                                                class="viewBtn"
                                                                size="middle"
                                                                type="primary"
                                                                @click="window.open('/project/'+scope.row.project)">View
                                                        </el-button>
                                                    </template>
                                                </el-table-column>

                                                <el-table-column
                                                        label="Operations"
                                                        width="150">
                                                    <template slot-scope="scope">
                                                        <el-button class="accept" type="success" size="middle"
                                                                   @click="accept(scope.row)">Accept
                                                        </el-button>
                                                    </template>
                                                </el-table-column>
                                            </el-table>
                                        </el-tab-pane>
                                        <el-tab-pane label="Accepted version">
                                            <div slot="label">
                                                Accepted version
                                                <span class="el-badge__content el-badge__content--undefined"
                                                      style="background-color: #0e93d7;">
                                                    {{invitesAccept.length}}
                                                </span>

                                            </div>
                                            <el-table
                                                    :data="invitesAccept"
                                                    style="width: 100%">
                                                <el-table-column
                                                        fixed
                                                        prop="createDate"
                                                        label="Date"
                                                        width="200">
                                                </el-table-column>
                                                <el-table-column
                                                        prop="title"
                                                        label="project"
                                                        width="230"

                                                >
                                                    <template slot-scope="scope">
                                                        <a @click="window.open('/project/'+scope.row.project)">{{scope.row.title}}</a>
                                                    </template>
                                                </el-table-column>
                                                <el-table-column
                                                        prop="inviteSender.name"
                                                        label="Inviter"
                                                        width="150">
                                                    <template slot-scope="scope">
                                                        <a @click="window.open('http://localhost:8080/user/'+scope.row.inviteSender.oid)">{{scope.row.inviteSender.name}}</a>
                                                    </template>
                                                </el-table-column>
                                                <el-table-column
                                                        prop="modelName"
                                                        label="model"
                                                        width="180">
                                                    <template slot-scope="scope">
                                                        <a @click="window.open('http://localhost:8080/computableModel/'+scope.row.model)">{{scope.row.modelName}}</a>
                                                    </template>
                                                </el-table-column>



                                            </el-table>
                                        </el-tab-pane>
                                        <!--                                            </el-tabs>-->

                                    </el-tabs>
                                </el-card>
                            </el-tab-pane>
                        </el-tabs>
                    </el-card>
                </div>
                <!--控制theme未审核部分的显示-->
                <el-dialog
                        title="View"
                        :visible.sync="dialogVisible1"
                        width="70%"
                        top="40px"
                        :before-close="handleClose">

                    <el-card>
                        <el-card>
                            <div style="text-align: center; padding-top: 20px; font-size: 30px;font-weight: bold;">Original</div><br>
                                <el-card v-if="info_seen">
                                    <!--Info的渲染，加v-if控制-->
                                    <div class="title text-center" style="margin-bottom:40px;">
                                        <h3>
                                            <span style="border-bottom:2px solid #1890ff">Theme Info</span>
                                        </h3>
                                    </div>
                                        <div id="detailinfo" class="detailIntroducePanel" v-html="info_past_dialog"></div>
                                </el-card>
                                    <!--model的渲染，加v-if控制-->
                                <el-card v-if="model_seen">
                                    <div class="title text-center" style="margin-bottom:40px;">
                                        <h3>
                                            <span style="border-bottom:2px solid #1890ff">Model</span>
                                        </h3>
                                    </div>
                                    <div v-for="(item, index) in classinfo" :key="item.mcname" class="sub_data_card">

                                        <div class="x_content model_item">
                                            <div>
                                                <label style="width: 100%;font-weight: bold;font-size: 1.5rem;">Category Name:{{item.mcname}}</label>
                                            </div>
                                            <el-row :gutter="20" type="center" class="row-bg" id="content">
                                                <el-col :span="4" v-for="item2 in item.modelsoid" :key="item2.oid" style="margin-top:20px;" id="model_col">
                                                    <el-card :body-style="{ padding: '0px'}" shadow="hover" style="width:auto;" id="model_card">
                                                        <a :href="'https://geomodeling.njnu.edu.cn/modelItem/'+ item2.oid ">
                                                            <avatar :username = "item2.name" :size="140" :rounded="false"></avatar>
                                                        </a>
                                                        <div style="padding: 14px;">
                                                            <span v-text="item2.name"></span>
                                                        </div>
                                                    </el-card>
                                                </el-col>
                                            </el-row>
                                        </div>
                                    </div>
                                </el-card>
                                    <!--data的渲染，加v-if控制-->
                                <el-card v-if="data_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Data</span>
                                    </h3>
                                </div>
                                    <div v-for="(item, index) in dataClassInfo" :key="item.dcname" class="sub_data_card">
                                        <div class="x_content data_item">
                                            <div>
                                                <label style="width: 100%;font-weight: bold;font-size: 1.5rem;">Category Name:{{item.dcname}}</label>
                                            </div>
                                            <el-row :gutter="20" type="center" class="row-bg" id="content">
                                                <el-col :span="4" v-for="item2 in item.datasoid" :key="item2.oid" style="margin-top:20px;" id="data_col">
                                                    <el-card :body-style="{ padding: '0px'}" shadow="hover" style="width:auto;" id="data_card">
                                                        <a :href="'https://geomodeling.njnu.edu.cn/dataItem/' +item2.oid">
                                                            <avatar :username = "item2.name" :size="140" :rounded="false"></avatar>
                                                        </a>
                                                        <div style="padding: 14px;">
                                                            <span class="data_name" v-text="item2.name"></span>
                                                        </div>
                                                    </el-card>
                                                </el-col>
                                            </el-row>
                                        </div>
                                    </div>
                            </el-card>
                                    <!--application的渲染，加v-if控制-->
                                <el-card v-if="application_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Application</span>
                                    </h3>
                                </div>
                                    <div id="sub_applications">
                                        <div class="x_content application_item" id="sub_application">
                                            <el-row :gutter="20" type="center" class="row-bg" id="content2">
                                                <el-col :span="4"v-for="(item,index) in application" :key="item.id" style="margin-top:20px;" id="model_col3">
                                                    <a :href="item.applicationlink">
                                                        <el-card :body-style="{padding:'0px'}" shadow="hover" style="width: auto">
                                                            <img :src="'/static/upload' + item.applicationname" class="image" id="sub_application_image">
                                                            <div style="padding: 14px">
                                                                <span class="application_name" v-text="item.applicationname"></span>
                                                            </div>
                                                        </el-card>
                                                    </a>
                                                </el-col>
                                            </el-row>
                                        </div>
                                    </div>
                            </el-card>
                         </el-card>
                    </el-card>
                    <el-card>
                            <div style="text-align: center; padding-top: 20px; font-size: 30px;font-weight: bold;">Revised</div><br>
                            <!--Info的渲染，加v-if控制-->
                            <el-card v-if="info_seen">
                                <!--Info的渲染，加v-if控制-->
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Theme Info</span>
                                    </h3>
                                </div>
                                <div id="myText1" v-html="info_edited_dialog"></div>
                            </el-card>
                            <!--model的渲染，加v-if控制-->
                            <el-card v-if="model_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Model</span>
                                    </h3>
                                </div>
                            <div v-for="(item, index) in sub_classinfo" :key="item.mcname" class="sub_data_card">
                                <div class="x_content model_item">
                                    <label style="width: 100%;font-weight: bold;font-size: 1.5rem;">Category Name:{{item.mcname}}</label>

                                    <el-row :gutter="20" type="center" class="row-bg" id="content">
                                        <el-col :span="4" v-for="item2 in item.modelsoid" :key="item2.oid" style="margin-top:20px;" id="model_col">
                                            <el-card :body-style="{ padding: '0px'}" shadow="hover" style="width:auto;" id="model_card">
                                                <a :href="'https://geomodeling.njnu.edu.cn/modelItem/' + item2.oid">
                                                    <avatar :username = "item2.name" :size="140" :rounded="false"></avatar>
                                                </a>
                                                <div style="padding: 14px;">
                                                    <span class="model_name" v-text="item2.name"></span>
                                                </div>
                                            </el-card>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                            </el-card>
                            <!--data的渲染，加v-if控制-->
                            <el-card v-if="data_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Data</span>
                                    </h3>
                                </div>
                            <div v-for="(item, index) in sub_dataClassInfos" :key="item.dcname" class="sub_data_card">
                                <div class="x_content data_item">
                                    <label style="width: 100%;font-weight: bold;font-size: 1.5rem;">Category Name:{{item.dcname}}</label>

                                    <el-row :gutter="20" type="center" class="row-bg" id="content">
                                        <el-col :span="4" v-for="item2 in item.datasoid" :key="item2.oid" style="margin-top:20px;" id="data_col">
                                            <el-card :body-style="{ padding: '0px'}" shadow="hover" style="width:auto;" id="data_card">
                                                <a :href="'https://geomodeling.njnu.edu.cn/dataItem/'+item2.oid">
                                                    <avatar :username = "item2.name" :size="140" :rounded="false"></avatar>
                                                </a>
                                                <div style="padding: 14px;">
                                                    <span class="data_name" v-text="item2.name"></span>
                                                </div>
                                            </el-card>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                            </el-card>
                            <!--application的渲染，加v-if控制-->
                            <el-card v-if="application_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Application</span>
                                    </h3>
                                </div>
                            <div id="sub_applications1">
                                <div class="x_content application_item" id="sub_application1">
                                    <el-row :gutter="20" type="center" class="row-bg" id="content2">
                                        <el-col :span="4"v-for="(item,index) in sub_applications" :key="item.id" style="margin-top:20px;" id="model_col3">
                                            <a :href="item.applicationlink">
                                                <el-card :body-style="{padding:'0px'}" shadow="hover" style="width: auto">
                                                    <img :src="'/static/upload' + item.applicationname" class="image" id="sub_application_image1">
                                                    <div style="padding: 14px">
                                                        <span class="application_name" v-text="item.applicationname"></span>
                                                    </div>
                                                </el-card>
                                            </a>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                            </el-card>
                        </el-card>
                    </el-card>

                    <span slot="footer" class="dialog-footer">
                        <el-button @click="dialogVisible1 = false">Cancel</el-button>
                        <el-button type="primary" @click="dialogVisible1 = false">Confirm</el-button>
                    </span>
                </el-dialog>
                <!--控制theme审核通过部分的显示-->
                <el-dialog
                        title="View"
                        :visible.sync="dialogVisible2"
                        width="70%"
                        top="40px"
                        :before-close="handleClose">

                    <el-card>
                        <el-card>
                            <div style="text-align: center; padding-top: 20px; font-size: 30px;font-weight: bold;">Original</div><br>
                            <!--Info的渲染，加v-if控制-->
                            <el-card v-if="info_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Theme Info</span>
                                    </h3>
                                </div>
                                <div id="detailinfo_appro" class="detailIntroducePanel" v-html="info_past_dialog"></div>
                            </el-card>
                            <!--model的渲染，加v-if控制-->
                            <el-card v-if="model_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Model</span>
                                    </h3>
                                </div>
                            <div v-for="(item, index) in classinfo" :key="item.mcname" class="sub_data_card">

                                <div class="x_content model_item">
                                    <label style="width: 100%;font-weight: bold;font-size: 1.5rem;">Category Name:{{item.mcname}}</label>
                                    <el-row :gutter="20" type="center" class="row-bg" id="content">
                                        <el-col :span="4" v-for="item2 in item.modelsoid" :key="item2.oid" style="margin-top:20px;" id="model_col">
                                            <el-card :body-style="{ padding: '0px'}" shadow="hover" style="width:auto;" id="model_card">
                                                <a :href="'https://geomodeling.njnu.edu.cn/modelItem/'+ item2.oid ">
                                                    <avatar :username = "item2.name" :size="140" :rounded="false"></avatar>
                                                </a>
                                                <div style="padding: 14px;">
                                                    <span v-text="item2.name"></span>
                                                </div>
                                            </el-card>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                            </el-card>
                            <!--data的渲染，加v-if控制-->
                            <el-card v-if="data_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Data</span>
                                    </h3>
                                </div>
                            <div v-for="(item, index) in dataClassInfo" :key="item.dcname" class="sub_data_card">
                                <div class="x_content data_item">
                                    <label style="width: 100%;font-weight: bold;font-size: 1.5rem;">Category Name:{{item.dcname}}</label>
                                    <el-row :gutter="20" type="center" class="row-bg" id="content">
                                        <el-col :span="4" v-for="item2 in item.datasoid" :key="item2.oid" style="margin-top:20px;" id="data_col">
                                            <el-card :body-style="{ padding: '0px'}" shadow="hover" style="width:auto;" id="data_card">
                                                <a :href="'https://geomodeling.njnu.edu.cn/dataItem/' +item2.oid">
                                                    <avatar :username = "item2.name" :size="140" :rounded="false"></avatar>
                                                </a>
                                                <div style="padding: 14px;">
                                                    <span class="data_name" v-text="item2.name"></span>
                                                </div>
                                            </el-card>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                            </el-card>
                            <!--application的渲染，加v-if控制-->
                            <div v-if="application_seen" id="sub_applications_appro">
                                <div class="x_content application_item" id="sub_application_appro">
                                    <el-row :gutter="20" type="center" class="row-bg" id="content2">
                                        <el-col :span="4"v-for="(item,index) in application" :key="item.id" style="margin-top:20px;" id="model_col3">
                                            <a :href="item.applicationlink">
                                                <el-card :body-style="{padding:'0px'}" shadow="hover" style="width: auto">
                                                    <img :src="'/static/upload' + item.applicationname" class="image" id="sub_application_image_appro">
                                                    <div style="padding: 14px">
                                                        <span class="application_name" v-text="item.applicationname"></span>
                                                    </div>
                                                </el-card>
                                            </a>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>

                        </el-card>
                        <el-card>
                            <div style="text-align: center; padding-top: 20px; font-size: 30px;font-weight: bold;">Revised</div><br>
                            <!--Info的渲染，加v-if控制-->
                            <el-card v-if="info_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Theme Info</span>
                                    </h3>
                                </div>
                                <div id="myText1_appro" v-html="info_edited_dialog"></div>
                            </el-card>
                            <!--model的渲染，加v-if控制-->
                            <el-card v-if="model_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Model</span>
                                    </h3>
                                </div>
                                <div v-for="(item, index) in sub_classinfo" :key="item.mcname" class="sub_data_card">
                                <div class="x_content model_item">
                                    <label style="width: 100%;font-weight: bold;font-size: 1.5rem;">Category Name:{{item.mcname}}</label>
                                    <el-row :gutter="20" type="center" class="row-bg" id="content">
                                        <el-col :span="4" v-for="item2 in item.modelsoid" :key="item2.oid" style="margin-top:20px;" id="model_col">
                                            <el-card :body-style="{ padding: '0px'}" shadow="hover" style="width:auto;" id="model_card">
                                                <a :href="'https://geomodeling.njnu.edu.cn/modelItem/' + item2.oid">
                                                    <avatar :username = "item2.name" :size="140" :rounded="false"></avatar>
                                                </a>
                                                <div style="padding: 14px;">
                                                    <span class="model_name" v-text="item2.name"></span>
                                                </div>
                                            </el-card>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                            </el-card>
                            <!--data的渲染，加v-if控制-->
                            <el-card v-if="data_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Data</span>
                                    </h3>
                                </div>
                            <div v-for="(item, index) in sub_dataClassInfos" :key="item.dcname" class="sub_data_card">
                                <div class="x_content data_item">
                                    <label style="width: 100%;font-weight: bold;font-size: 1.5rem;">Category Name:{{item.dcname}}</label>
                                    <el-row :gutter="20" type="center" class="row-bg" id="content">
                                        <el-col :span="4" v-for="item2 in item.datasoid" :key="item2.oid" style="margin-top:20px;" id="data_col">
                                            <el-card :body-style="{ padding: '0px'}" shadow="hover" style="width:auto;" id="data_card">
                                                <a :href="'https://geomodeling.njnu.edu.cn/dataItem/'+item2.oid">
                                                    <avatar :username = "item2.name" :size="140" :rounded="false"></avatar>
                                                </a>
                                                <div style="padding: 14px;">
                                                    <span class="data_name" v-text="item2.name"></span>
                                                </div>
                                            </el-card>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                            </el-card>
                            <!--application的渲染，加v-if控制-->
                            <el-card v-if="application_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Application</span>
                                    </h3>
                                </div>
                            <div id="sub_applications1_appro">
                                <div class="x_content application_item" id="sub_application1_appro">
                                    <el-row :gutter="20" type="center" class="row-bg" id="content2">
                                        <el-col :span="4"v-for="(item,index) in sub_applications" :key="item.id" style="margin-top:20px;" id="model_col3">
                                            <a :href="item.applicationlink">
                                                <el-card :body-style="{padding:'0px'}" shadow="hover" style="width: auto">
                                                    <img :src="'/static/upload' + item.applicationname" class="image" id="sub_application_image1_appro">
                                                    <div style="padding: 14px">
                                                        <span class="application_name" v-text="item.applicationname"></span>
                                                    </div>
                                                </el-card>
                                            </a>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                            </el-card>
                        </el-card>
                    </el-card>

                    <span slot="footer" class="dialog-footer">
                        <el-button @click="dialogVisible2 = false">Cancel</el-button>
                        <el-button type="primary" @click="dialogVisible2 = false">Confirm</el-button>
                    </span>
                </el-dialog>
                <!--控制theme审核未通过部分的显示-->
                <el-dialog
                        title="View"
                        :visible.sync="dialogVisible3"
                        width="70%"
                        top="40px"
                        :before-close="handleClose">

                    <el-card>
                        <el-card>
                            <div style="text-align: center; padding-top: 20px; font-size: 30px;font-weight: bold;">Original</div><br>
                            <!--Info的渲染，加v-if控制-->
                            <el-card v-if="info_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Theme Info</span>
                                    </h3>
                                </div>
                                <div id="detailinfo_unappro" class="detailIntroducePanel" v-html="info_past_dialog"></div>
                            </el-card>
                            <!--model的渲染，加v-if控制-->
                            <el-card v-if="model_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Model</span>
                                    </h3>
                                </div>
                            <div v-for="(item, index) in classinfo" :key="item.mcname" class="sub_data_card">

                                <div class="x_content model_item">
                                    <label style="width: 100%;font-weight: bold;font-size: 1.5rem;">Category Name:{{item.mcname}}</label>

                                    <el-row :gutter="20" type="center" class="row-bg" id="content">
                                        <el-col :span="4" v-for="item2 in item.modelsoid" :key="item2.oid" style="margin-top:20px;" id="model_col">
                                            <el-card :body-style="{ padding: '0px'}" shadow="hover" style="width:auto;" id="model_card">
                                                <a :href="'https://geomodeling.njnu.edu.cn/modelItem/'+ item2.oid ">
                                                    <avatar :username = "item2.name" :size="140" :rounded="false"></avatar>
                                                </a>
                                                <div style="padding: 14px;">
                                                    <span v-text="item2.name"></span>
                                                </div>
                                            </el-card>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                            </el-card>
                            <!--data的渲染，加v-if控制-->
                            <el-card v-if="data_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Data</span>
                                    </h3>
                                </div>
                            <div v-for="(item, index) in dataClassInfo" :key="item.dcname" class="sub_data_card">
                                <div class="x_content data_item">
                                    <label style="width: 100%;font-weight: bold;font-size: 1.5rem;">Category Name:{{item.dcname}}</label>

                                    <el-row :gutter="20" type="center" class="row-bg" id="content">
                                        <el-col :span="4" v-for="item2 in item.datasoid" :key="item2.oid" style="margin-top:20px;" id="data_col">
                                            <el-card :body-style="{ padding: '0px'}" shadow="hover" style="width:auto;" id="data_card">
                                                <a :href="'https://geomodeling.njnu.edu.cn/dataItem/' +item2.oid">
                                                    <avatar :username = "item2.name" :size="140" :rounded="false"></avatar>
                                                </a>
                                                <div style="padding: 14px;">
                                                    <span class="data_name" v-text="item2.name"></span>
                                                </div>
                                            </el-card>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                            </el-card>
                            <!--application的渲染，加v-if控制-->
                            <el-card v-if="application_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Application</span>
                                    </h3>
                                </div>
                            <div id="sub_applications_unappro">
                                <div class="x_content application_item" id="sub_application_unappro">
                                    <el-row :gutter="20" type="center" class="row-bg" id="content2">
                                        <el-col :span="4"v-for="(item,index) in application" :key="item.id" style="margin-top:20px;" id="model_col3">
                                            <a :href="item.applicationlink">
                                                <el-card :body-style="{padding:'0px'}" shadow="hover" style="width: auto">
                                                    <img :src="'/static/upload' + item.applicationname" class="image" id="sub_application_image_unappro">
                                                    <div style="padding: 14px">
                                                        <span class="application_name" v-text="item.applicationname"></span>
                                                    </div>
                                                </el-card>
                                            </a>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                            </el-card>

                        </el-card>
                        <el-card>
                            <div style="text-align: center; padding-top: 20px; font-size: 30px;font-weight: bold;">Revised</div><br>
                            <!--Info的渲染，加v-if控制-->
                            <el-card v-if="info_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Theme Info</span>
                                    </h3>
                                </div>
                                <div id="myText1_unappro" v-html="info_edited_dialog"></div>
                            </el-card>

                            <!--model的渲染，加v-if控制-->
                            <el-card v-if="model_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Model</span>
                                    </h3>
                                </div>
                            <div v-for="(item, index) in sub_classinfo" :key="item.mcname" class="sub_data_card">
                                <div class="x_content model_item">
                                    <label style="width: 100%;font-weight: bold;font-size: 1.5rem;">Category Name:{{item.mcname}}</label>

                                    <el-row :gutter="20" type="center" class="row-bg" id="content">
                                        <el-col :span="4" v-for="item2 in item.modelsoid" :key="item2.oid" style="margin-top:20px;" id="model_col">
                                            <el-card :body-style="{ padding: '0px'}" shadow="hover" style="width:auto;" id="model_card">
                                                <a :href="'https://geomodeling.njnu.edu.cn/modelItem/' + item2.oid">
                                                    <avatar :username = "item2.name" :size="140" :rounded="false"></avatar>
                                                </a>
                                                <div style="padding: 14px;">
                                                    <span class="model_name" v-text="item2.name"></span>
                                                </div>
                                            </el-card>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                            </el-card>
                            <!--data的渲染，加v-if控制-->
                            <el-card v-if="data_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Data</span>
                                    </h3>
                                </div>
                            <div v-for="(item, index) in sub_dataClassInfos" :key="item.dcname" class="sub_data_card">
                                <div class="x_content data_item">
                                    <label style="width: 100%;font-weight: bold;font-size: 1.5rem;">Category Name:{{item.dcname}}</label>

                                    <el-row :gutter="20" type="center" class="row-bg" id="content">
                                        <el-col :span="4" v-for="item2 in item.datasoid" :key="item2.oid" style="margin-top:20px;" id="data_col">
                                            <el-card :body-style="{ padding: '0px'}" shadow="hover" style="width:auto;" id="data_card">
                                                <a :href="'https://geomodeling.njnu.edu.cn/dataItem/'+item2.oid">
                                                    <avatar :username = "item2.name" :size="140" :rounded="false"></avatar>
                                                </a>
                                                <div style="padding: 14px;">
                                                    <span class="data_name" v-text="item2.name"></span>
                                                </div>
                                            </el-card>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                            </el-card>
                            <!--application的渲染，加v-if控制-->
                            <el-card v-if="application_seen">
                                <div class="title text-center" style="margin-bottom:40px;">
                                    <h3>
                                        <span style="border-bottom:2px solid #1890ff">Application</span>
                                    </h3>
                                </div>
                            <div id="sub_applications1_unappro">
                                <div class="x_content application_item" id="sub_application1_unappro">
                                    <el-row :gutter="20" type="center" class="row-bg" id="content2">
                                        <el-col :span="4"v-for="(item,index) in sub_applications" :key="item.id" style="margin-top:20px;" id="model_col3">
                                            <a :href="item.applicationlink">
                                                <el-card :body-style="{padding:'0px'}" shadow="hover" style="width: auto">
                                                    <img :src="'/static/upload' + item.applicationname" class="image" id="sub_application_image1_unappro">
                                                    <div style="padding: 14px">
                                                        <span class="application_name" v-text="item.applicationname"></span>
                                                    </div>
                                                </el-card>
                                            </a>
                                        </el-col>
                                    </el-row>
                                </div>
                            </div>
                            </el-card>
                        </el-card>
                    </el-card>

                    <span slot="footer" class="dialog-footer">
                        <el-button @click="dialogVisible3 = false">Cancel</el-button>
                        <el-button type="primary" @click="dialogVisible3 = false">Confirm</el-button>
                    </span>
                </el-dialog>
            </div>
        </div>
        </div>
    </template>
</div>
</body>
<script src="/static/js/common/jquery-3.3.1.min.js"></script>
<script src="/static/js/common/vue.min.js"></script>
<script src="/static/js/common/vue-avatar.min.js"></script>
<script src="/static/element-ui/index.js"></script>
<script src="/static/element-ui/umd/locale/en.js"></script>
<script src="/static/js/page/message_confirm.js"></script>
</html>